* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.corpo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: rgb(32, 32, 32);
}

.card {
    align-items: center;
    background-color: rgb(160, 160, 160);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    width: 50vw;
    gap: 2rem;
}

.titulo {
    color: #8844ee;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.estados,
.filmes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.estados__item {
    background: #8844ee;
    padding: 1.2rem;
}

.estados__display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.estados__item--estado {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
}

.filmes__titulo {
    font-size: 2.5rem;
}

.filmes__descricao {
    color: white;
}

.filmes__descricao--hoje{
    color:  rgb(233, 185, 255);
}

.filmes__descricao--amanha{
    color: rgb(189, 189, 189);
}

.voltar {
    background-color: #8844ee;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 20vw;
}

.voltar__texto{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}